
/* header menu */

.headerContainer {
    background-color: #CACACA; 
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.headerContainer h1 {
    padding-left: 40%;
    margin: 0; 
}

header {
    padding: 20px; 
    display: flex; 
    justify-content: space-between;   
}

.mainNav menu {
    list-style: none; 
    display: flex; 
    padding: 0;
    margin: 0;
}

.mainNav menu li {
    margin-left: auto;
    margin-right: 15px; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: rgb(116, 181, 255);
}

.mainNav menu li a:active{
    color: aqua;
}
.mainNav menu li a:hover{
    color: black;
}

body {
background-color:  #34344C;
}



/* staff info page */

.container_staff {
    display: flex;
    background-color: rgb(255, 255, 255);
    
}

.InfoSectionColumn {
    flex: 1;
}

.InfoSection {
    color: rgb(0, 0, 0);
    padding: 20px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.InfoSection:last-child {
    border-right: none;
}

.headliner {
    font-size: 140%;
}



  
/* footer */
footer{
    text-align: center;

}